body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
}

@media screen and (max-width: 520px) {
    body {
        margin: 40px 10px;
    }
}

h1, h2, h3 {
    line-height: 1.2
}

header ul {
    padding: 0px;
}

header ul li {
    display: inline;
}

header ul li a {
    padding: 4px;
}

footer ul {
    padding: 0px;
}

footer ul li {
    display: inline;
}

footer ul li a {
    padding: 4px;
}

footer hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.homepage-cta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.membership-tiers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.membership-tier {
    min-width: 300px;
    width: 45%;
    padding: 5px;
}

.become-a-member {
    background-color: #380036;
    color: white;
    font-size: 16px;
    display: inline-block;
    padding: 10px 15px 9px 15px;
    margin: 2px 0px;
    border-radius: 6px;
}

header a {
    text-decoration: none;
}

.logo {
    background-color: #380036;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.header-logo {
    max-width: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.member-logo {
    max-width: 300px;
}
