<header>
  <section class="col">
    <a href="/">
      <div class="header-logo"></div>
    </a>
    <ul>
      <li><a href="/open-source/">Apply</a></li>
      <li><a href="/companies/">Companies</a></li>
      <li><a href="/developers/">Developers</a></li>
      <li><a href="/members/">Members</a></li>
      <li><a href="/news/">News</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="https://members.clojuriststogether.org">Member Login</a></li>
    </ul>
  </section>
</header>
