<footer>
  <div class="col">
    <section class="links">
      <ul>
        <li><a href="/open-source/">Apply</a></li>
        <li><a href="/companies/">Companies</a></li>
        <li><a href="/developers/">Developers</a></li>
        <li><a href="/members/">Members</a></li>
        <li><a href="/news/">News</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/transparency/">Transparency</a></li>
        <li><a href="/beyond/">Beyond Clojurists Together</a></li>
        <li><a href="/faq/">FAQ</a></li>
        <li><a href="/team/">Team</a></li>
        <li><a href="/contact/">Contact</a></li>
        {{/* TODO: couldn't work out how to use a proper link to the RSS feed */}}
        <li><a href="/index.xml">Feed</a></li>
        <li><a href="https://github.com/clojurists-together/clojuriststogether.org">Source</a></li>
      </ul>
    </section>
    <section class="copyright">© {{ now.Format "2006"}} Clojurists Together.</section>
  </div>
</footer>
