body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 17px;
    color: #292966;
    font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
}

h1, h2, h3 {
    line-height: 1.2;
}

a {
    font-weight: 500;
    color: #292966;
}

a:hover {
    text-decoration: underline;
}

main a:hover {
    opacity: 0.8;
}

.col {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 650px;
}

header, footer {
    background-color: #292966;
}

header section {
    text-align: center;
}

.header-logo {
    width: 100%;
    height: 235px;
    background-image: url(header-logo.svg);
    background-position: center 55%;
    background-repeat: no-repeat;
    background-size: 50%;
}

header ul, footer ul {
    margin: 0 auto;
    padding: 20px 0;
}

header ul li, footer ul li {
    display: inline;
    padding: 3px;
}

header ul li, footer ul li {
    display: inline;
    padding: 3px 0;
    line-height: 30px;
}

header ul li a, footer ul li a {
    padding: 0 8px;
    color: white;
    font-size: 14px;
}

footer>div.col>section {
    min-height: 117px;
}

footer>div.col>section.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer>div.col>section.links ul {
    padding: 0;
}

blockquote {
    padding: 0px 10px;
    border-left: 5px solid #292966;
    color: #292966;
    font-style: italic;
}

/* pagination.html: https://github.com/spf13/hugo/blob/master/tpl/tplimpl/template_embedded.go#L117 */
.pagination {
    margin: 3rem 0;
  }

  .pagination li {
    display: inline-block;
    margin-right: .375rem;
    font-size: .875rem;
    margin-bottom: 2.5em;
  }
  .pagination li a {
    padding: .5rem .625rem;
    background-color: white;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-decoration: none;
  }

  /* I commented this out so that the ... shows */
  /* .pagination li.disabled {
    display: none;
  } */
  .pagination li.active a:link,
  .pagination li.active a:active,
  .pagination li.active a:visited {
    background-color: #ddd;
  }

  #TableOfContents ul li {
    margin-bottom: 1em;
  }

.homepage-cta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.membership-tiers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.membership-card, .membership-tier {
    min-width: 300px;
    width: 100%;
    padding: 25px;
    border-radius: 5px;
    border: 2px solid rgba(41, 41, 102, 0.11);
    box-shadow: 13px 13px 0px 0px rgba(41, 41, 102, 0.11);
    margin-top: 50px;
}

.member-lists .membership-card {
    padding: 40px 25px;
}

.membership-card {
    margin-top: 0px
}

.membership-tier h3 {
    font-size: 36px;
    margin: 0 0 15px;
}

.membership-tier p {
    max-width: 500px;
}

.membership-tier table {
    border-spacing: 0px;
}

.membership-tier img {
    display: block;
}

.membership-card h4 {
    margin: 0;
    text-align: center;
}

.membership-card h4 a {
    font-size: 18px;
    font-weight: bold;
}

.membership-card>a {
    display: block;
    text-align: center;
    padding: 30px 0;
}

.membership-card>p {
    margin: 0;
}

.membership-card .member-logo.large {
    max-width: 85%;
    max-height: 120px;
}

.member-category {
    padding-top: 70px;
}

.member-category.company .membership-card {
    margin-bottom: 40px;
}

.membership-card .member-logo {
    max-width: 65%;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}

.members_page {
    max-width: 1024px;
}

.members_page h2 {
   margin-top: 0;
   margin-bottom: 11px;
   line-height: 29px;
}

.members_page h2 span {
   font-size: 16px;
}

.members_page h2, .member-lists ul {
   text-align:center
}

.member-lists ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.member-lists ul li a {
    text-decoration: none;
}

.member-lists ul li a:hover {
    text-decoration: underline;
}

.into-member ul li {
    font-size: 24px
}

.cons-member ul li {
    font-size: 22px
}

.assoc-member ul li {
    font-size: 20px
}

.become-a-member {
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 28px;
    background-color:#444484;
    color:white;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    padding: 12px 30px;
    margin: 29px 0 0;
    cursor: pointer;
    transition: all 0.2s ease;
}

.become-a-member:hover,
.become-a-member:active {
    color: white;
    background: white;
    color: #292966;
    border: 2px solid #292966;
    text-decoration: none;
}

.sfc-donate a {
    background: transparent;
    color: white;
    border: 2px solid white;
    text-decoration: none;
    padding: 8px 27px;
    font-size: 14px;
    margin: 0;
}

.copyright {
    font-size: 12px;
    color: white;
    padding-top: 30px;
}

header a, footer a {
    text-decoration: none;
}

.logo {
    background-color: #380036;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.member-logo {
    max-width: 300px;
}

h1, h2{
    margin-top: 45px;
}

h3{
    margin-top: 40px;
}

.projects h2, .projects h3{
    margin-top: 60px;
}

.projects p{
    max-width: 530px;
}

.projects h3 {
    border-bottom: 1px solid #e6e6e6
}

.members_page h3 {
    margin: 0;
    padding: 60px 0 0;
}

.member.founding {
   padding-left: 20px;
}

.member.founding:after {
   padding-left:5px;
   content: "â­"
}

.developer ul li, .contributing ul li {
   display: inline-block;
   width: 50%;
}
.founding-developer ul li {
   width: 100%;
}

.projects h3.project {
    border-bottom: none;
    margin-top: 35px;
}

.projects h3>a {
    text-decoration:none;
    color: #292966;
    font-weight: 700
}

.projects h3>a:hover {
    text-decoration:underline;
}

.open-in-new {
    vertical-align: baseline;
    opacity: 0.5;
    width: 21px;
    height: 20px;
    margin-bottom: -4px;
    padding-left: 5px;
}

p.project-logo{
    text-align: center;
}

main.markdown-page p.project-logo img {
    max-width: 300px;
    height: 120px;
    margin: 0 auto;
    margin-left: -35px;
}

main, main.col {
    padding: 30px 20px 60px;
}

main.markdown-page img {
    max-width: 100%;
}

@media screen and (max-width: 500px) {
    .header-logo {
        height: 200px;
        background-position: center 50%;
        background-size: 80%;
    }
}

@media screen and (min-width: 700px) {
    header ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    header ul li a {
        padding: 0 0;
    }

}

@media screen and (max-width: 700px) {
    footer ul {
        margin: 25px 0;
    }

    footer ul li {
        display: block;
    }

    footer ul li a {
        padding: 0;
    }
}
