{{ define "main" }}
<div class="col">
<h1 class="page-title">
    {{ .Title }}
</h1>

{{ .Content }}

<p>We are proud to be supported by {{ $.Site.Data.members.member_stats.developer }} developer members and {{ $.Site.Data.members.member_stats.company }} company members</p>
</div>

<!-- <code>{{ printf "%#v" $.Site.Data.members }}</code> -->


<section class="member-category company logo-member">
    <h2><span>$2000/mo</span><br>Map Members</h2>
    <div class="image-grid">
        {{ range where $.Site.Data.members.members "level" "map" }}
        {{ partial "filter-member" .}}
        {{end}}
    </div>
</section>


<section class="member-category company logo-member">
    <h2><span>$1000/mo</span><br>Transduce Members</h2>
    <div class="image-grid">
        {{ range where $.Site.Data.members.members "level" "transduce" }}
        {{ partial "filter-member" .}}
        {{end}}
    </div>
</section>

<section class="member-category company logo-member">
    <h2><span>$500/mo</span><br>Filter Members</h2>
    <div class="image-grid">
        {{ range where $.Site.Data.members.members "level" "filter" }}
        {{ partial "filter-member" .}}
        {{end}}
    </div>
</section>

<section class="member-lists">
    <section class="member-category into-member col">
        <h2><span>$200/mo</span><br>Into Members</h2>
        <section class="membership-card">
            <ul>
                {{ range where $.Site.Data.members.members "level" "into" }}
                {{ partial "into-member" . }}
                {{end}}
            </ul>
        </section>
    </section>

    <section class="member-category cons-member col">
        <h2><span>$100/mo</span><br>Cons Members</h2>
        <section class="membership-card">
            <ul>
                {{ range where $.Site.Data.members.members "level" "cons" }}
                {{ partial "into-member" . }}
                {{end}}

            </ul>

        </section>
    </section>

    <section class="member-category assoc-member col">
        <h2><span>$50/mo</span><br>Assoc Members</h2>
        <section class="membership-card">
            <ul>
                {{ range where $.Site.Data.members.members "level" "assoc" }}
                {{ partial "into-member" . }}
                {{end}}
            </ul>
        </section>
    </section>
</section>

<section class="member-category founding-developer col">
    <h2>Founding Developer Members ⭐</h2>
    <section class="membership-card">
        {{ $members := (where $.Site.Data.members.members "level" "developer") }}
        {{ $founders := (where $members "founding" true )}}
        {{ $names := (apply $founders "index" "." "name")}}
        {{ delimit $names ", " }}.
    </section>
</section>

<section class="member-category developer col">
    <h2>Developer Members</h2>
    <section class="membership-card">
        {{ $members := (where $.Site.Data.members.members "level" "developer") }}
        {{ $founders := (where $members "founding" false )}}
        {{ $names := (apply $founders "index" "." "name")}}
        {{ delimit $names ", " }}.
    </section>
</section>

<section class="member-category contributing col">
    <h2>Founding Contributing Members ⭐</h2>
    <section class="membership-card">
        {{ $members := (where $.Site.Data.members.members "level" "contributing") }}
        {{ $founders := (where $members "founding" true )}}
        {{ $names := (apply $founders "index" "." "name")}}
        {{ delimit $names ", " }}.
    </section>
</section>

<section class="member-category contributing col">
    <h2>Contributing Members</h2>
    <section class="membership-card">
        {{ $members := (where $.Site.Data.members.members "level" "contributing") }}
        {{ $founders := (where $members "founding" false )}}
        {{ $names := (apply $founders "index" "." "name")}}
        {{ delimit $names ", " }}.
    </section>
</section>

{{ end }}
